.movie_detail_card {
    display: flex;
    background-color: #232020;
    color: white;
    gap: 50px;
    padding: 60px;
}
.movie_detail_image {
    width: 400px;
    height: 400px;
}
.movie_detail_image img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.movieDetail_content {
    display: grid;
    gap: 20px;
}
.movieDetail_content h3{
    margin: 0;
    font-size: 35px;
}
.movieDetail_content h5{
    margin: 0;
    font-size: 20px;
    line-height: 40px;
}
.movieDetail_content h6{
    margin: 0;
    font-size: 15px;
    line-height: 30px;
}
.add_to_watchlist button {
    border-radius: 5px;
    padding: 5px;
    background: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: none;
}
.add_to_watchlist button:hover {
    background-color: rgb(144 138 138);
    cursor: pointer;
    color: white;
}
