.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    background-color: black;
}
.header {
    position: relative;
    /* background-color: black; */
}