.relatedMovie_card_div {
    color: white;
    text-align: center;
    display: flex;
    gap: 10px;
    overflow: auto;
}
.relatedMovie_card_div::-webkit-scrollbar {
    display: none;
}
.relatedMovie_card {
    height: 350px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.816);
    color: black;
    padding: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.relatedMovie_card_image {
    width: 100%;
    height: 80%;
}
.relatedMovie_card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .relatedMovie_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.relatedMovie_content h4,h5 {
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}
/* body::-moz-scroll */
